.item-wrap {
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-sizing: border-box;
  background: $itemBg;
}

.repo-name {
  font-weight: 800;
  color: $color-brand-light;
}

.event-wrap {
  margin-left: 5px;
}

.commit-sha {
  color: $color-brand-dark;
}

.event-desc {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
}

.event-action {
  text-transform: capitalize;
}

.issue-number {
  color: $color-brand-light;
}
// avatar 
.avatar {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
}
.author {
  display: flex;
  justify-items: center;
  width: 100%;
}
.login {
  font-size: 32px;
  font-weight: 400;
  color: #40a0fa;
}
.create-at {
  margin-left: auto;
  align-self: flex-start;
  font-size: 25px;
  color: rgb(151, 151, 151);
}
